//Nav-logo
.nav__logo {
  color: $main-text-color;

  font-family: $text-raleway;
  @include fonts(26px , 700 , 1.2 , null);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
 margin-right: 93px;
  transition-property: color;
  @include transition;
  &:hover,
  &:focus {
    color: $accent-bgr-color;
  }
}
.span__logo {
  color: $accent-bgr-color;
}
//footer-logo
.logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;

  color: $title-text-color;
  text-decoration: none;

  font-family: $text-raleway;
  @include fonts(26px , 700 , 1.2 , null);
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;

  transition-property: color;
  @include transition;

  &:hover,
  &:focus {
    color: $accent-bgr-color;
  }
}
